name: debates

services:
  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    ports:
      - "8080:8080"
    volumes:
      # Dozzle needs access to the Docker socket
      # to read logs from all other running containers.
      - /var/run/docker.sock:/var/run/docker.sock
    # This allows Dozzle to restart automatically
    restart: unless-stopped

# Global networks used for inter-service communication
networks:
  debates_network:
    driver: bridge

# Global volumes used for persistence
volumes:
  reddis_data:
  minio_data:
  solr_data:
  mongo_data:

# Include other compose files
include:
  - compose.data.yml
  - compose.workers.yml
  - compose.app.yml
  - compose.debug.yml
