x-backend-env: &backend-env
  SOLR_URL: ${SOLR_URL}
  MONGO_URL: mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongodb-instance:27017/
  MONGO_DB_NAME: ${MONGO_DB_NAME}
  MONGO_MEDIA_COLLECTION: ${MONGO_MEDIA_COLLECTION}
  MONGO_SPEAKER_COLLECTION: ${MONGO_SPEAKER_COLLECTION}
  MONGO_SUBTITLE_COLLECTION: ${MONGO_SUBTITLE_COLLECTION}
  MONGO_SEGMENT_COLLECTION: ${MONGO_SEGMENT_COLLECTION}

  # Shared External Services
  S3_SERVER: ${S3_SERVER}
  S3_BUCKET_NAME: ${S3_BUCKET_NAME}
  S3_PUBLIC_URL: ${S3_PUBLIC_URL}
  S3_SIGNING_URL: ${S3_SIGNING_URL}
  S3_ACCESS_KEY: ${S3_ACCESS_KEY}
  S3_SECRET_KEY: ${S3_SECRET_KEY}
  REDIS_URL: ${REDIS_URL}

  # Output Types
  TYPE_TRANSLATION: ${TYPE_TRANSLATION}
  TYPE_ORIGINAL: ${TYPE_ORIGINAL}

  # Python Path (Critical for sharing code)
  PYTHONPATH: /app/src

services:
  backend:
    build:
      context: ../../components/backend
      dockerfile: Dockerfile
    networks:
      - debates_network
    container_name: backend
    labels:
      - "dev.dozzle.name=Backend"
      - "dev.dozzle.group=App"
    environment:
      <<: *backend-env
      CORS_ORIGINS: ${CORS_ORIGINS}
    command: ["uvicorn", "app.main:api", "--host", "0.0.0.0", "--port", "8000"]
    ports:
      - 8082:8000
    depends_on:
      mongodb-instance:
        condition: service_healthy
      solr:
        condition: service_healthy
      redis:
        condition: service_healthy

  workers:
    build: ../../components/backend
    command: rq worker --url redis://redis:6379
    container_name: workers
    labels:
      - "dev.dozzle.name=Workers"
      - "dev.dozzle.group=App"
    depends_on:
      redis:
        condition: service_healthy
    environment:
      <<: *backend-env
      HF_TOKEN: ${HF_TOKEN}
      HF_SPACE_URL: ${HF_SPACE_URL}
      HF_MODEL: ${HF_MODEL}
    networks:
      - debates_network

  frontend:
    build:
      context: ../../components/frontend
    container_name: frontend
    labels:
      - "dev.dozzle.name=Frontend"
      - "dev.dozzle.group=App"
    ports:
      - 3000:3000
    depends_on:
      - backend
    environment:
      ORIGIN: ${ORIGIN}
      TYPE_TRANSLATION: ${TYPE_TRANSLATION}
      TYPE_ORIGINAL: ${TYPE_ORIGINAL}
      PUBLIC_SEARCH_PAGE_SIZE: ${SEARCH_PAGE_SIZE}
    networks:
      - debates_network
    command: ["node", "build"]

  docs:
    build:
      context: ../../docs
      dockerfile: Dockerfile
    networks:
      - debates_network
    ports:
      - 8001:8000
