name: debates

services:
  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    ports:
      - "8080:8080"
    volumes:
      # Dozzle needs access to the Docker socket
      # to read logs from all other running containers.
      - /var/run/docker.sock:/var/run/docker.sock
    # This allows Dozzle to restart automatically
    restart: unless-stopped

  reverse-proxy:
    image: nginx:alpine
    networks:
      - debates_network
    ports:
      - 443:443
      - 80:80
    volumes:
      - type: bind
        source: ${SSL_CERTIFICATE}
        target: /etc/political-debates/nginx/ssl/cert;
        read_only: true
      - type: bind
        source: ./components/nginx/nginx.conf
        target: /etc/nginx/conf.d/default.conf
        read_only: true
    secrets:
      - htpasswd_combined
      - htpasswd_editor
      - htpasswd_reader
      - ssl_private_key
    profiles:
      - prod

secrets:
  htpasswd_combined:
    file: ${HTPASSWD_COMBINED}
  htpasswd_editor:
    file: ${HTPASSWD_EDITOR}
  htpasswd_reader:
    file: ${HTPASSWD_READER}
  ssl_private_key:
    file: ${SSL_PRIVATE_KEY}

# Global networks used for inter-service communication
networks:
  debates_network:
    driver: bridge

# Global volumes used for persistence
volumes:
  redis_data:
  garage_data:
  solr_data:
  mongo_data:

# Include other compose files
include:
  - compose.data.yml
  - compose.app.yml
