name: debates

services:
  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    ports:
      - "8080:8080"
    networks:
      - debates_network
    environment:
      - DOZZLE_BASE=/logs
    volumes:
      # Dozzle needs access to the Docker socket
      # to read logs from all other running containers.
      - /var/run/docker.sock:/var/run/docker.sock
    # This allows Dozzle to restart automatically
    restart: unless-stopped

  reverse-proxy:
    image: nginx:alpine
    networks:
      - debates_network
    ports:
      - 443:443
      - 80:80
    volumes:
      - type: bind
        source: /etc/letsencrypt/archive/debates.swisscustodian.ch/cert7.pem
        target: /etc/nginx/ssl/debates.swisscustodian.ch.cert
        read_only: true
      - type: bind
        source: ../../components/nginx/nginx.conf
        target: /etc/nginx/conf.d/default.conf
        read_only: true
    secrets:
      - htpasswd_combined
      - htpasswd_editor
      - htpasswd_reader
      - ssl_private_key
    depends_on:
      - backend
      - frontend
      - dozzle
    profiles:
      - prod

secrets:
  htpasswd_combined:
    file: /etc/apache2/combined.htpasswd
  htpasswd_editor:
    file: /etc/apache2/editor.htpasswd
  htpasswd_reader:
    file: /etc/apache2/reader.htpasswd
  ssl_private_key:
    file: /etc/letsencrypt/archive/debates.swisscustodian.ch/privkey7.pem

# Global networks used for inter-service communication
networks:
  debates_network:
    driver: bridge

# Global volumes used for persistence
volumes:
  redis:
  garage:
  solr:
  mongo:

# Include other compose files
include:
  - compose.data.yml
  - compose.app.yml
